/*basic page set up*/
html{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
*{
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}  
body{
  background: white;
  width: 100%;
  margin: 0;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/*main contentainer*/
#content{
    height: auto;
    width: calc(100% - 100px);
    margin: 100px 0 100px 0;
  }
.section-header{
  font-family: 'Montserrat', sans-serif;
}
.article-title{
    font-family: 'Merriweather', serif;
    font-weight: 400;
}
.author{
  font-family: 'Montserrat', sans-serif;
}
.main-text{
  font-family: 'Merriweather', serif;
  font-weight: 300; 

}
.highlight{
  font-family: 'Merriweather', serif;
  font-weight: 300; 
}
figcaption{
  font-family: 'Montserrat', sans-serif;
      font-size: 0.8em;
}