#content{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 5fr 1fr;
    grid-template-areas: 
    "triocup evoware"
    "sachet delta";
    font-family: 'Merriweather', serif;
    font-weight: 300;
    background: #f2ebc2;
}
#triocup{
    grid-area: triocup;
    padding: 10px;
    border-right: solid black 1px;
    margin-bottom: 20px;
    margin-top: 20px;
        display: flex;
    flex-direction: column;
}
#tag{
    font-size: 0.8em;
}
#evoware{
    grid-area:evoware;
}
#evoware div{
    padding: 0px 10px 20px 80px;
}
#delta{
    grid-area:delta;
    border-top: solid black 5px;
    background: white;
}
#algae{
    padding: 20px;
    object-fit: cover;
    max-width: 100%;
}
#sachet{
    grid-area: sachet;
    border-top: solid black 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: white;
}
#sachet img{
        object-fit: contain;
            min-height: 200px;
}
#sheets{
    max-height: 150px;
    float: right;
        padding: 5px;
            min-height: 300px;
}
#cup{
    grid-column: 2/-1;
    grid-row: 2/3;
    position: relative;
    right: 2%;
    display: flex;
    align-self: center;
    max-height: 200px;
    min-height: 100px;
    margin: 25px;
}
h6{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.6em;
    margin: 20px 0 10px 0;
    line-height: 0.8em;
}
h4{
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 1.5em;
    margin: 10px 0 5px 0;
}
h2{
    font-size: 3em;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    margin: 20px 0 5px 0;
}
p{
    margin: 0;
    line-height: 1.5em;
}



/*==========================================================*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 650px) {

#content {
    display: flex;
    flex-direction: column;
}
#triocup {
    display: flex;
    flex-direction: column;
    border-right: none;
    border-bottom: solid black 5px;
    margin: 10px;
    padding: 20px;
}
#sheets {
    padding: 5px;
}
#delta {
    border-top: none;
        padding: 20px;
}
#algae{
    margin-top: 20px;
        padding: 20px;
}
#evoware{
    padding: 20px;
}
}
/*=======================================================*/


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 650px) 
and (max-device-width : 1024px) {
#content{
         grid-template-columns: 5fr 11fr;
}